<!DOCTYPE html>
<!--<html lang="ko" xmlns:th="http://www.thymeleaf.org">-->
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>게시판 페이지</title>
</head>
<body>
<!-- header elemental 을 찾아라, html 태그가 header 인 화면 찾아오기,
ID 가 #header 인 것, 클래스 가 .header 인 것 -->
<!--<header th:replace="~{header :: header}"></header>-->
<header id="header"></header>
<!--메인 - 테이블-->
<main>
  <!--검색창-->
  <form>
    <label for="search-type" hidden>유형</label>
    <select id="search-type" name="search-type">
      <option>제목</option>
      <option>본문</option>
      <option>아이디</option>
      <option>닉네임</option>
      <option>해시태그</option>
    </select>
    <label for="search-value" hidden>검색어</label>
    <input id="search-value" type="search" placeholder="검색어를 입력하세요." name="search-value">
    <button type="submit">검색</button>
  </form>
  <!--테이블-->
  <table>
    <thead>
    <tr>
      <th>제목</th>
      <th>해시태그</th>
      <th>작성자</th>
      <th>작성일</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>첫글</td>
      <td>#태그</td>
      <td>유저</td>
      <td>2023-09-21</td>
    </tr>
    <tr>
      <td>2글</td>
      <td>#태그</td>
      <td>유저2</td>
      <td>2023-09-21</td>
    </tr>
    <tr>
      <td>3글</td>
      <td>#태그</td>
      <td>유저2</td>
      <td>2023-09-21</td>
    </tr>
    </tbody>
  </table>
  <!--  네비게이션바-->
  <nav>
    <table>
      <tr>
        <td>previous</td>
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
        <td>next</td>
      </tr>
    </table>
  </nav>
</main>
<!--풋-->
<!--<footer th:replace="~{footer :: footer}"></footer>-->
<footer id="footer"></footer>
</body>
</html>